@using LitStar.Controllers.ViewModels.People;
@using LitStar.Core.Security;
@model StaffView
@{
        ViewBag.Title = "LitStar | Create New Staff Profile";
}
<script src="~/Scripts/litstar/litstar.js"></script>
<div class="semi-block">
    <h3>
        New Staff Member
    </h3>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "infoForm" }))
        {
    <div class="page-tabs"><!-- fade tabs -->
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabinfo" data-toggle="tab">
                        <i class="font-info-sign"></i>
                         Info
                    </a>
                </li>
                @*<li>
                    <a href="#tabsecurity" data-toggle="tab">
                        <i class="font-lock"></i>Security</a>
                </li>*@
            </ul>
            <div class="tab-content">
                
                <div class="tab-pane body active fade in" id="tabinfo">
                    <div id="divcontainer" class="row-fluid">
                        <div class="span6">
                            <div class="block well">
                                <div class="navbar">
                                    <div class="navbar-inner">
                                        <h5>Basic Info</h5>
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <div class="checkbox inline">
                                        <label class="control-label">
                                            Is Active?:
                                        </label>
                                        <div class="controls">
                                            @Html.CheckBoxFor(m => m.SelectedStaff.IsActive, new { @class = "yes_no", @id = "isactive"})
                                        </div>
                                    </div>
                                    <div class="checkbox inline">
                                        <label class="control-label">
                                            Is Manager?:
                                        </label>
                                        <div class="controls">
                                                @Html.CheckBoxFor(m => m.SelectedStaff.IsManager, new { @class = "yes_no", @id = "ismanager"})
                                        </div>
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        First Name:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                            @Html.TextBoxFor(m => m.SelectedStaff.FirstName, new { @class = "required span12", @id = "firstname"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Last Name:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                            @Html.TextBoxFor(m => m.SelectedStaff.LastName, new { @class = "required span12", @id = "lastname"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Title:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SelectedStaff.Title, new { @class = "required span12", @id = "title"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Email:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SelectedStaff.Email, new { @class = "required span12", @id = "email"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Hire Date:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                        <div class="date-trigger">
                                            @Html.TextBoxFor(m => m.SelectedStaff.HireDate, new { @class = "required datepicker", @id = "hiredate", @Value = Model.SelectedStaff.HireDate.ToShortDateString()})
                                        </div>
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Birthdate:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SelectedStaff.Birthdate, new { @class = "required datepicker", @id = "birthdate", @Value = Model.SelectedStaff.Birthdate.ToShortDateString()})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Manager:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                        @Html.DropDownListFor(m => m.SelectedStaff.ManagerID, new SelectList(Model.Managers.List, "Value", "Text"), " -- Select Manager --", new { @id = "managerddl"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Phone:
                                    </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SelectedStaff.Phone, new { @class = "maskPhone", @id = "phone"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="block well">
                                <div class="navbar">
                                    <div class="navbar-inner">
                                        <h5>Security Access Info</h5>
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Security Access Level:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                            @Html.DropDownListFor(m => m.SelectedStaff.Membership.AccessLevel, new SelectList(Model.AccessLevels.List, "Value", "Text"), " -- Select Access Level --", new { @id = "accesslevelddl"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Password:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                            @Html.TextBoxFor(m => m.SelectedStaff.Membership.Password, new { @class = "required span12", @id = "password"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Security Question:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                            @Html.TextBoxFor(m => m.SelectedStaff.Membership.SecurityQuestion, new { @class = "required span12", @id = "securityquestion"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Security Answer:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SelectedStaff.Membership.SecurityAnswer, new { @class = "required span12", @id = "securityanswer"})
                                    </div>
                                </div>
                                <div class="body control-group">
                                    <label class="control-label">
                                        Username:
                                        <span class="req">*</span>
                                    </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SelectedStaff.Membership.Username, new { @class = "required span12", @id = "username"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-actions">
                            <button id="btnSaveSecurity" title="Save Security Info" class="btn btn-small btn-info">
                                <i class="icon-plus"></i> Save Info
                            </button>
                            <a href='@Url.Action("Staff", "People")' title="Cancel" class="btn btn-small btn-danger">
                                <i class="icon-remove"></i> Cancel
                            </a>               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
</div>
<script type="text/javascript">

   @* $("#btnSaveStaff").click(function (e) {

        e.preventDefault();  //prevent default form submit behaviour
        var staff = new Staff();
        staff.Birthdate = $("#birthdate").val();
        staff.HireDate = $("#hiredate").val();
        staff.Email = $("#email").val();
        staff.FirstName = $("#firstname").val();
        staff.LastName = $("#lastname").val();
        staff.IsActive = $("#isactive").is(":checked");
        staff.IsManager = $("#ismanager").is(":checked");
        staff.Title = $("#title").val();
        staff.Phone = $("#phone").val();
        staff.ManagerID = $("#managerddl option:selected").val();
        staff.ID = '@(Model.SelectedStaff.ID)';
        staff.UserID = '@(Model.SelectedStaff.UserID)';
        staff.AvatarPath = '@(Model.SelectedStaff.AvatarPath)';
        staff.AccountID = '@(Model.SelectedStaff.AccountID)';
        staff.EnteredBy = '@(Model.SelectedStaff.EnteredBy)';
        staff.ChangedBy = '@(Model.SelectedStaff.ChangedBy)';
        staff.AccessLevel = $("#accesslevelddl option:selected").val();
        $.ajax({
            url: 'http://litstar.localhost/api/Staff/CreateStaff',
            type: 'POST',
            data: JSON.stringify(staff),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var notice = "<div class='notice closing'><div class='note note-success'><button type='button' class='close'>×</button><strong>Staff Security Info Updated Successfully!!</strong></div></div>";
                //alert(notice);
                $("#mainwrapper").before(notice);
                $('#mainwrapper').effect("highlight", { color: "#7fd658" }, 1000);
                //alert('yes');
            },
            error: function (x, y, z) {
                //alert(x.status + '\n' + y + '\n' + z);
            }
        });
    });*@

    $("#btnSaveSecurity").click(function (e) {

        e.preventDefault();  //prevent default form submit behaviour
        var _user = new User();
        _user.AccessLevel = $("#accesslevelddl option:selected").val();
        _user.Password = $("#password").val();
        _user.SecurityAnswer = $("#securityanswer").val();
        _user.SecurityQuestion = $("#securityquestion").val();
        _user.Username = $("#username").val();

        var _staff = new Staff();
        _staff.Birthdate = $("#birthdate").val();
        _staff.HireDate = $("#hiredate").val();
        _staff.Email = $("#email").val();
        _staff.FirstName = $("#firstname").val();
        _staff.LastName = $("#lastname").val();
        _staff.IsActive = $("#isactive").is(":checked");
        _staff.IsManager = $("#ismanager").is(":checked");
        _staff.Title = $("#title").val();
        _staff.Phone = $("#phone").val();
        _staff.ManagerID = $("#managerddl option:selected").val();


        $.ajax({
            url: 'http://litstar.localhost/api/Staff/CreateStaff',
            type: 'POST',
            data: JSON.stringify({User: _user, Staff: _staff}),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var notice = "<div class='notice closing'><div class='note note-success'><button type='button' class='close'>×</button><strong>Staff Successfully Created!!</strong></div></div>";
                //alert(notice);
                $("#mainwrapper").before(notice);
                $('#mainwrapper').effect("highlight", { color: "#7fd658" }, 1000);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    });
</script>